body{
    
    padding:0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.abc{
    position: fixed;padding-bottom: 20px;
}
header nav ul li{
    display: inline;
    color: white;
}

header nav ul li:after{
content: '|';
padding-left:3px;
padding-right:3px;
}

header nav ul li:last-child:after{
    content: none;
    padding-left:3px;
    padding-right:10px;
    }

header nav ul li a:hover{
        
        font-weight: bold;
        text-decoration: underline;
}    
header nav ul li a{
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
}

.fixed_header1{
    
    /*padding-bottom: 100px;*/
    display:flex;
    justify-content: space-between;
    background: #673ab7;
    z-index: 100000;
    position: fixed;
}


.main-nav__client-login {
    
    top: 100%;
    left: 10%;
    padding-top: 1em;
    padding-right: 1em;
    padding-left: 1em;
    padding-bottom: 1.5em;
    border-bottom: 0.5em solid #e83a56;
    background-color: #e83a56;
    z-index: 1000;
    overflow: hidden;
    text-transform: uppercase;
    text-align: center;
    color: white;
    opacity:0.7;
    text-decoration: none;
    font-size: 0.9em;
    
    box-shadow: 0 5px 15px #999999;
    
    border-bottom-left-radius: 4.5em;
    
    border-bottom-right-radius: 4.5em;
    
    transition: all 0.5s;
}



.box1{
    height: 80vh; 
    width: 100%;
   background-image: url(../images/hero_image1.jpg);
   background-size: cover; 
   border: 2px solid white;
   border-color: white;
   transform: translate3d(0, 0, 0);
   display: table;
   background-attachment: fixed;
}

.box1:hover{
   /* background: rgb(0, 0, 0);*/ /* fallback color */
   opacity: 0.8;
   
}


.hero_element_redo_h1_part1:hover,.hero_element_redo_h1_part2:hover {
    /*background: rgba(0, 0, 0, 0.7);*/
    
    /*color: #e83a56;*/
    opacity: 0.8;
    font-size:30px;
    text-transform: uppercase;

}


/*.hero_element_redo_h1_part2:hover{
    background: rgba(0, 0, 0, 0.7);
    color: #e83a56;
    font-size:36px;
    text-transform: uppercase;

}*/
.box1 h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: white; 
    margin: 0px;
    text-align: center; 
    display: table-cell; 
    vertical-align: middle; 
    color: white; 
   font: bold 24px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   
   
   padding: 0px; 
   
   top: 200px; 
   left: 0; 
   width: 100%; 
   letter-spacing: 1px;
}

.box1 p{
    background: #e83a56;
}


.hero_element_redo_h1_part1{
    background-color: #35c793;
    padding: 10px;
    margin:10px 10px;
    border: 10px;
    border-radius: 10px;
}

.hero_element_redo_h1_part2{
    background-color: #e83a56;
    padding: 10px;
    border-radius: 10px;
}

.col-layout{    
    line-height: 1.65;
    background: white;
    width:100%;
    padding-right:0px;
    margin:auto;
    padding: 2px 0;
    display: flex;
    justify-content: flex-start;
}
.main-col{
    flex:2;
    order:2;
    color:white;
    background: #35c793;
    text-align : center;
    border:1px solid white;
}

.main-col:hover{
    opacity: 0.9;
}

.sidebar-one{
    flex:1;
    order:1;
    background: #e83a56;
    text-align: center;
    opacity:0.9;
    color: white;
    border:1px solid white;
}

.sidebar-two{
    flex:1;
    order:3;
    background: #e83a56;
    opacity: 0.9;
    text-align: center;
    color:white;
    border:1px solid white;
}

.button {
    border-radius: 4px;
    background-color: #ff9800;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 5px;
    width: 300px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  .equal-height-container{
    max-height: 900px;
    margin: 3px auto;
    width: 100%;
    display: flex; 
}

.first{
    
    width: 50%;
  
    background-size: cover;
    background-image: url(../images/crowd_management1.jpeg);
    background-repeat: no-repeat;
    
    padding : 0px 0px;
    flex:1; 
    
   
   background-attachment: fixed;
    
}

.second{
    
    flex : 1; 
    display: flex;
    flex-direction: column;
}

.second ul li{
    display:inline;
}

.second-a{
    background-color: #673ab7;
    opacity: 0.8;
    letter-spacing: 1.5px;
    text-align: right;
     flex:1;
    
}

.second-b{
    background-color: #35c793;
    flex:1;
}

input {
    -webkit-appearance: textfield;
    background-color: white;   
    cursor: text;
    padding: 1px;
    border-width: 2px;    
    text-rendering: auto;
    color: initial; 
    
    display: inline-block;
    text-align: start;    
    font: 400 11px system-ui;
}
.right-arrow {
    width: 19px;
}

